<html>
    <head>
        <title>Editar Produtos</title>
    </head>
    <body>
        <h3>Editar Produtos</h3>
        <form method="POST" action="/product/update">
            <table>
                <tr>
                    <td>Id</td>
                    <td>{{.product.Id}}</td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td><input type="text" name="name" value="{{.product.Name}}"></td>
                </tr>
                <tr>
                    <td>Size</td>
                    <td><input type="text" name="size" value="{{.product.Size}}"></td>
                </tr>
                <tr>
                    <td>Price</td>
                    <td><input type="text" name="price" value="{{.product.Price}}"></td>
                </tr>
                <tr>
                    <td>Quantity</td>
                    <td><input type="number" name="quantity" min="0" value="{{.product.Quantity}}"></td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>
                        <input type="submit" value="Save">
                        <input type="hidden" name="id" value="{{.product.Id}}">
                    </td>
                </tr>
            </table>
        </form>
    </body>
</html>